header {
  height: 100px;
  padding: 0 20px;
  background: rgba(134, 123, 123, 0.76);
  color: #fff;
}

header .logo {
  line-height: 100px;
  float: left;
  text-transform: uppercase;
  margin: 0px;
  font-size: 20px;
}

header #chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

header .show-menu-btn {
  float: right;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

header .show-menu-btn i {
  line-height: 100px;
}

header .show-menu-btn:hover {
  color: #3498db;
}

header .menu {
  position: relative;
  float: right;
  line-height: 100px;
  font-size: 15px;
  margin: 0px;
}

header .menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .menu a:hover {
  color: #3498db;
}

header .menu a i {
  padding: 0px 5px;
}

header .menu a .modal-open {
  display: inline-block;
  color: #1E90FF;
  margin: 2em;
}

header .menu .hide-menu-btn {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

header .menu .hide-menu-btn:hover {
  color: #1E90FF;
}

@media screen and (max-width: 800px) {
  header .show-menu-btn {
    display: block;
  }
  header .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    font-size: 15px;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    z-index: 6;
  }
  header .menu a {
    display: block;
    padding: 20px;
  }
  header .menu .hide-menu-btn {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
  }
  header #chk:checked ~ .menu {
    right: 0;
  }
}

footer {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #093347b2;
  display: block;
}

footer .inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .inner-footer .footer-items {
  width: 25%;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

footer .inner-footer .footer-items h1 {
  padding: 10px 10px;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
  margin: -16px -10px;
}

footer .inner-footer .footer-items p {
  color: #f0ecec;
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
}

footer .inner-footer .footer-items h2 {
  margin: 1px 0;
  color: #808080;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
  color: white;
}

footer .inner-footer .footer-items .footerMenu {
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
  padding: 0;
}

footer .inner-footer .footer-items .footerMenu a {
  text-decoration: none;
  outline: none;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .inner-footer .footer-items .footerMenu a:hover {
  color: #ff9800;
}

footer .inner-footer .footer-items .footerMenu li {
  margin: 10px 0;
  height: 25px;
}

footer .inner-footer .footer-items .footerMenu li i {
  margin-right: 3px;
}

footer .inner-footer .footer-items .social-media {
  width: 100%;
  color: #fff;
}

footer .inner-footer .footer-items .social-media a {
  text-decoration: none;
}

footer .inner-footer .footer-items .social-media i {
  height: 30px;
  width: 30px;
  margin: 20px 5px;
  padding: 5px 0px;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #808080;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .inner-footer .footer-items .social-media i:hover {
  background: #808080;
}

footer .footer-bottom {
  padding: 10px;
  background: #3d545f;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 1085px) {
  footer .inner-footer .footer-items {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  footer .inner-footer .footer-items {
    width: 100%;
  }
}
/*# sourceMappingURL=HeaderFooter.css.map */